<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Choix du circuit</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div id="menu">
    <h1>Choisis ton circuit</h1>

    <div class="circuits">

      <a href="/circuit1">
        <img src="{{ url_for('static', filename='img/circuit_1.jpg') }}" alt="Circuit 1">
      </a>

      <a href="/circuit2">
        <img src="{{ url_for('static', filename='img/circuit_2.jpg') }}" alt="Circuit 2">
      </a>

      <a href="/circuit3">
        <img src="{{ url_for('static', filename='img/collision_map.png') }}" alt="Circuit 3">
      </a>

    </div>
  </div>
</body>
</html>

